.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  &__field {
    width: 50%;
    margin: 0.5rem 0 !important;
  }
}
